h1 {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #28231D;
    font-size: 32px;
}

.cart-product-image {
    width: 170px;
    height: 170px;
    text-align: center;
}

.cart-product-image img {
    max-width: 100%;
    max-height: 100%;
}

.cart-list {
    width: 800px;
}

.cart-product-info {
    display: flex;
    width: 280px;

}

.cart-product-text {
    margin-top: auto;
    margin-bottom: auto;
}

.cart-product-title-link {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #28231D;
    font-size: 16px;
    text-decoration: none;
}

.cart-product-title-link:hover {
    color: #FF9F1C;
}

.cart-product-text span {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    color: #28231D;
    font-size: 14px;
}

.cart-product-price {
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    color: #FF9F1C;
    font-size: 20px;
}

.cart-product-actions {
    display: flex;
}

.cart-product-count {
    margin: auto;
    height: 34px;
}

.count-button{
    margin: auto;
    width: auto;
    border: none;
    background: white;
}

.count-value {
    width: 60px;
    text-align: center;
    border: white;
    border-radius: 3px;
    background-color: whitesmoke;
}

/*убрать стрелки в input*/
.count-value::-webkit-outer-spin-button,
.count-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cart-line {
    border-bottom: 1px solid #DCDCDC;
}

/*START SIDEBAR*/
.cart-sidebar {
    width: 260px !important;
    height: 200px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    justify-content: center;
}

.cart-order-text {
    margin-top: 10px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #28231D;
    font-size: 16px;
}

.cart-order-price {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    color: #FF9F1C;
    font-size: 20px;
}

.cart-order-btn {
    text-align: center;
}
.cart-order-btn button{
    width: 200px;
    height: 40px;
    border: 1px solid #D2D68D;
    border-radius: 3px;
    background: #D2D68D;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
/*END SIDEBAR*/