@import url("https://use.typekit.net/qkq8sxc.css");

.catalog {
    position: relative;

}

.catalog_body {
    align-items: flex-start;
}

h1 {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #28231D;
    font-size: 32px;
}

.catalog-nav {
    width: 200px;
}

.catalog-nav_title, .filter-title {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #28231D;
    font-size: 14px;
}

.catalog-nav_item {
    list-style-type: none;
}

.catalog-nav_list {
    padding-left: 5px;
    margin-right: 10px;
}

.catalog-nav_link {
    font-size: 14px;
    text-decoration: none;
    color: #28231D;
    padding-left: 0;
}

.catalog-nav_link:hover {
    color: #FF9F1C;
}

.label-select {
    width: 120px;
}

.label-select option {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    color: #28231D;
    font-size: 14px;
}

.filter-btn {
    vertical-align: middle;
    width: 120px;
    height: 20px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    color: #28231D;
    font-size: 14px;
    border-color: #28231D;
    border-radius: 1px;
}

.product-card {
    width: 240px;
    height: 400px;
}

.product-card-image {
    width: 240px;
    height: 220px;
    justify-content: center;
    align-items: center;
}

.product-card-image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.product-card-price{
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #28231D;
    font-size: 16px;
}

.product-card-title-link {
    text-decoration: none;
}

.product-card-title-link p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #28231D;
    font-size: 14px;
}

.product-card-title-link p:hover{
    color: #FF9F1C;
}

.product-card-author{
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #28231D;
    font-size: 12px;
}

.product-card__add-to-cart{
    margin-top: 24px;
    width: 120px;
    border: 1px solid #28231D;
    background: none;
    border-radius: 3px;
    color: #28231D;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    flex-shrink: 0;
    height: 26px;
}

.product-card__add-favorites{
    margin-top: 24px;
    width: 80px;
    border: none;
    outline: none;
    height: 26px;
    background-color: #ffffff;
    text-align: right;
}

.product-card__add-favorites i {
    padding-right: 14px;
    background-color: #ffffff;
    height: 30px;
    font-size: 24px;
    color: #28231D;
}
