@import url("https://use.typekit.net/qkq8sxc.css");


body{
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #28231D;
    transition: all 0.4s ease;
    padding-left: 20px;
    padding-right: 20px;
}

.top-nav{
    padding-bottom: 4px;
    padding-top: 4px;
}

.top-nav .nav-item{
    margin-bottom: 0;
    margin-right: 22px;
    display: inline-block;
    font-size: 12px;
    color: #28231D;
}

.top-nav .nav-item:hover{
    color: #28231D;
    text-decoration: underline;
}

.navbar{
    height: 60px;
    padding-bottom: 4px;
    padding-top: 4px;
    vertical-align: middle;

}

.fill-height{
    height: 60px !important;
}

.navbar .navbar-logo{

    margin-right: 10px;
    color: #FF9F1C;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;
}

.navbar .input-control_container{
    padding-top: 10px;
    height: 60px;
    vertical-align: middle;
}

.navbar .navbar_search{

    vertical-align: middle;
    border: 2px solid #DCDCDC;
    width: 710px;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #28231D;
}

.navbar .navbar_search input{
    vertical-align: middle;
    margin: 0;
    width: 560px;
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar .input-control_container .navbar_search button{
    float: right;
    width: 100px;
    border: 1px solid #DCDCDC;
    background: #D2D68D;
    color: #F4FEC1;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    flex-shrink: 0;
    height: 38px;
}

.navbar .input-control_container .navbar_search span{
    margin-left: 4px;
    font-size: 24px;
    vertical-align: middle;
    color: #D2D68D;
    align-items: center;
}

.navbar .input-control_container{
    margin: 0;
    width: 720px;
}

.dropdown{
    padding-top: 18px;
}

.navbar .nav-user{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-user a{
    padding-top: 18px;
    padding-left: 32px;
    color: #28231D;
    text-decoration: none;
    font-size: 36px;
}

.dropdown .dropdown-menu .dropdown-item{
    padding: 0;
    margin-left: 24px;
    margin-bottom: 4px;
    width: auto;
    height: 20px;
}

.dropdown .dropdown-menu .dropdown-item:hover{
    text-decoration: underline;
}

.dropdown .dropdown-menu .dropdown-item h6{
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #28231D;
}

.navbar .nav-user a:hover{
    background-color: white;
    color: #363636;
}

.menu-nav{
    padding-top: 12px;
    padding-bottom: 10px;
    display: flex;
    flex-shrink: 0;
}

.menu-nav  button{
    display: flex;
    height: 43px;
    width: auto;
    border: none;
    outline: none;
    background-color: white;
}

.menu-nav .menu-text{
    padding-top: 8px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #28231D;
}

.menu-icon{
    margin-right: 10px;
    font-size: 32px;
}

.navbar-nav a{
    margin-left: 100px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #28231D;
}

.line{
    border-bottom: 2px solid #DCDCDC;
}

.banner img{
    margin-top: 30px;
    background-position: center !important;
    height: 80%;
    width: 100%;
}