{% extends 'shop/admin/base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/order_form.css') }}">
{% endblock %}

{% block content %}
    <nav class="top-nav">
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about_us') }}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('delivery') }}">
                            Доставка и оплата</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('about_us') }}">
                            +7 996 115 31 80</a>
                    </li>
                </div>
            </div>
        </div>
    </nav>
    <div class="line"></div>
    <nav class="navbar">
        <div class="container-fluid justify-content-center">
            <div class="row">
                <div class="navbar-info d-flex mb-4">
                    <a class="navbar-logo" href="{{ url_for('main') }}">Bookspace</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="order-content">
        <div class="container-fluid">
            <div class="row">
                <form method="post" action="{{ url_for('make_order') }}">
                    <div class="order-content d-inline-flex">
                        <div class="order-info">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                <a href="{{ url_for('main') }}"><i class='bx bx-x'></i></a>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="return-to-cart mb-3">
                                <a href="{{ url_for('get_cart') }}"><i class='bx bx-chevron-left'></i>В корзину</a>
                            </div>
                            <div class="order-title mb-5">
                                <h1>Оформление заказа</h1>
                            </div>
                            <div class="order-address mb-5">
                                <h6 class="mb-3">Адрес</h6>
                                <input type="text" class="form-control" name="address">
                            </div>
                            <div class="order-recipient mb-5">
                                <h6 class="mb-3">Получатель</h6>
                                <div class="recipient-info-email mb-3">
                                    <label for="email">Email</label>
                                    <input type="text" class="recipient-email form-control" name="email"
                                           value="{{ user.email }}" disabled>
                                </div>
                                <div class="recipient-info d-flex justify-content-between">
                                    <div class="recipient-info-name">
                                        <label for="name">Имя и фамилия</label>
                                        <input type="text" class="recipient-name form-control" name="name"
                                               value="{{ user.first_name }} {{ user.last_name }}" disabled>
                                    </div>
                                    <div class="recipient-info-phone">
                                        <label for="phone">Телефон</label>
                                        <input type="text" class="recipient-phone form-control" name="phone"
                                               value="{{ user.phone }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="order-payments-method mb-5">
                                <h6 class="mb-3">Способ оплаты</h6>
                                <span>Оплата онлайн банковской картой (Visa, MasterCard, МИР, Yandex Pay)</span>
                            </div>
                            <div class="order-button mb-5">
                                <button type="submit" class="btn">
                                    Оформить заказ
                                </button>
                            </div>
                        </div>

                        <div class="cart-sidebar">
                            <div class="cart-sidebar-content">
                                <div class="cart-order-info p-3 mt-3">
                                    <span class="cart-order-text">Всего товаров: {{ total_count }}</span>
                                    <br>
                                    <span class="cart-order-text">Общая стоимость:
                                    <span class="cart-order-price">{{ total_amount|int }} p.</span></span>
                                </div>
                                <div class="cart-order-btn p-3">
                                    <button>
                                        Оформить заказ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}