{% extends "shop/layout.html" %}

{% block title %}Каталог книг в интернет магазине Bookspace{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/catalog.css') }}">
{% endblock %}

{% block content %}
    <main class="catalog">
        <div class="container-fluid">
            <div class="row">
                <div class="catalog_title pt-3 pb-3">
                    <h1>Каталог</h1>
                </div>
                <div class="catalog_body d-flex">
                    <div class="catalog-sidebar">
                        <section class="catalog-nav">
                            <header class="catalog-nav_title pb-1">Категории</header>
                            <nav class="catalog-nav_nav">
                                <ul class="catalog-nav_list">
                                    {% for category in categories %}
                                        <li class="catalog-nav_item pb-1">
                                            <a href="{{ url_for('main', parent_id=category.id) }}"
                                               class="catalog-nav_link ">{{ category.value }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </section>
                        <div class="filter">
                        </div>
                    </div>
                    <div class="catalog-content">
                        <div class="catalog-product-list d-flex flex-wrap">
                            {% for product in products %}
                                <div class="product-list-item">
                                    <article class="product-card">
                                        <div class="product-card-image"
                                             onclick="location.href =
                                                     '{{ url_for("get_book", book_id=product['product_id']) }}'">
                                            <img src="{{ url_for( 'static', filename='img/' + product.image) }}"
                                                 alt="{{ product.title }}">
                                        </div>
                                        <div class="product-card-content p-2 ps-3">
                                            <div class="product-card-price">
                                                <span>{{ product.price| int }} p.</span>
                                            </div>
                                            <a class="product-card-title-link"
                                               href="{{ url_for("get_book", book_id=product['product_id']) }}"
                                               title="{{ product.title }}"><p class="m-0">{{ product.title }}</p></a>
                                            <div class="product-card-author">
                                                <span>{{ product.author }}</span>
                                            </div>
                                            <div class="product-card-buttons d-flex">
                                                <form action="{{ url_for('add_to_cart', product_id=product.product_id) }}"
                                                      method="post">
                                                    <input type="hidden" name="quantity"
                                                           value="1" min="1" max="{{ product.quantity }}">
                                                    <button type="submit" class="b24-btn product-card__add-to-cart">
                                                        В корзину
                                                    </button>
                                                </form>
                                                {% if is_authenticated %}
                                                    <form action="{{ url_for('add_to_wishlist', product_id=product.product_id) }}"
                                                          method="post">
                                                        <button type="submit"
                                                                class="product-card__add-favorites justify-content-end">
                                                            <i class='bx bx-heart'></i>
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <button type="button"
                                                            class="product-card__add-favorites justify-content-end">
                                                        <a href="{{ url_for('login') }}">
                                                            <i class='bx bx-heart'></i></a>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}