<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/boxicons.min.css') }}">
    {% block style %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<script src="/static/js/bootstrap.bundle.min.js"></script>

<!-- START NAVBAR -->
<nav class="top-nav">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about_us') }}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('delivery') }}">
                        Доставка и оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('about_us') }}">
                        +7 996 115 31 80</a>
                </li>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="fill-height d-flex">
            <a class="navbar-logo" href="{{ url_for('main') }}">Bookspace</a>
            <div class="input-control_container">
                <form class="me-2" method="post">
                    <div class="form-control-sm">
                        <div class="navbar_search col-auto">
                            <span><i class='bx bx-search'></i></span>
                            <input placeholder="">
                            <button type="submit">Найти</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="nav-user">
                {% if is_authenticated %}
                    <div class="dropdown">
                        <a href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bx-user-circle'></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item " href="{{ url_for('profile') }}"><h6>Профиль</h6></a></li>
                            <li><a class="dropdown-item small" href="{{ url_for('order') }}">
                                <h6>Мои заказы</h6></a></li>
                            <li><a class="dropdown-item small" href="{{ url_for('wishlist') }}">
                                <h6>Отложенные</h6></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item small" href="{{ url_for('logout') }}"><h6>Выйти</h6></a></li>
                        </ul>
                    </div>
                    <a href="{{ url_for('wishlist') }}"><i class='bx bx-heart'></i></a>
                {% else %}
                    <a href="{{ url_for('login') }}"><i class='bx bx-user-circle'></i></a>
                    <a href="{{ url_for('login') }}"><i class='bx bx-heart'></i></a>
                {% endif %}
                <a href="{{ url_for('get_cart') }}"><i class='bx bx-shopping-bag'></i></a>

            </div>
        </div>
    </div>
</nav>
<nav class="menu-nav navbar-expand-lg">
    <div class="container-fluid">
        <div class="d-inline-flex align-items-center">
            <button>
                <span class="menu-icon"><i class='bx bx-menu'></i></span><span class="menu-text">Каталог</span>
            </button>
            <div class="navbar-nav">
                <a class="nav-link active" href="{{ url_for('get_sales') }}">Акции</a>
                <a class="nav-link active" href="{{ url_for('get_new') }}">Новинки</a>
                <a class="nav-link active" href="{{ url_for('get_bestsellery') }}">Бестселлеры</a>
                <a class="nav-link active" href="{{ url_for('get_best_price') }}">Лучшие цены</a>
            </div>
        </div>
    </div>

</nav>
<div class="line"></div>
<!-- END NAVBAR -->

{% block content %}
{% endblock %}
</body>
</html>